body {
    font-family: 'Gulzar', serif;
}

.background-image {

    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin: 0px;




}

.need {
    padding: 30px 40px 40px 400px;
    text-align: center;
    width: 50%
}

#h1-color {
    background: linear-gradient(white, rgba(128, 128, 128, 0.233));
    font-weight: 1000;

}

#p-color {
    color: darkmagenta;
    background: linear-gradient(white, rgba(240, 23, 23, 0.329));
    font-weight: bold;
}

#btn {
    color: white;
    background-image: linear-gradient(red, yellow);
    position: center;
    width: 13%;
}