body {
    font-family: 'Gulzar', serif;
    margin: 0;
}

.background-image {

    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.need {
    padding: 250px 300px 0px 400px;
    text-align: center;
    width: 50%
}

#h1-color {
    background: linear-gradient(white, rgba(128, 128, 128, 0.233));
    font-weight: 1000;


}

#p-color {
    color: rgb(32, 15, 15);
    background: linear-gradient(white, rgba(240, 23, 23, 0.212));
    font-weight: bold;

}

#btn {
    color: white;
    background-image: linear-gradient(red, yellow);
    position: center;
    width: 13%;
    height: 40px;
}

span {
    padding-left: 10%;
}

.center {

    padding-left: 30%;
    padding-right: 30%;
    padding-top: 200px;
    padding-bottom: 200px;

}

#today {

    text-align: center;
    font-weight: 1000;
    margin: 0;

}

.center p {
    margin: 0;

}

.center h4 {
    text-align: center;
}

hr {
    width: 80%;
}

.set-amount {
    display: flex;
}


#box1 {

    width: 15%;
    height: 20%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(255, 228, 196, 0.274);
    text-align: center;
    border-radius: 5px;

}

#box2 {

    width: 15%;
    height: 20%;
    margin: 50px 5px 50px 50px;

    background-color: rgba(255, 196, 196, 0.281);
    text-align: center;
    border: 3px solid red;
    border-radius: 5px;
}

#box3 {
    width: 15%;
    height: 20%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(255, 228, 196, 0.274);
    text-align: center;
    border-radius: 5px;
}

#box4 {
    width: 15%;
    height: 20%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(255, 228, 196, 0.274);
    text-align: center;
    border-radius: 5px;
}

#box5 {
    width: 15%;
    height: 20%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(255, 228, 196, 0.274);
    text-align: center;
    border-radius: 5px;
}

#resize-button {

    margin-left: 43%;
    color: white;
    background-image: linear-gradient(red, yellow);
    position: center;
    width: 13%;
    height: 40px;
    text-align: center;
}

#h1-center {
    text-align: center;
    margin: 0;
}

#basic-needs {
    margin: 0;
    margin-left: 35%;

}


.donation-plan {
    display: flex;
    padding-bottom: 200px;
    padding-left: 10%;
    padding-right: 10%;

}

.donation-plan h1 {
    margin: 0;

}

.donation-plan p {
    margin: 0;
}

#food {

    width: 30%;
    height: 80%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(255, 228, 196, 0.274);
    text-align: center;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 130px;
}

#shelter {
    width: 30%;
    height: 80%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(236, 170, 241, 0.089);
    text-align: center;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 90px;
}

#education {
    width: 30%;
    height: 80%;
    margin: 50px 5px 50px 20px;
    background-color: rgba(255, 88, 11, 0.274);
    text-align: center;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 50px;
}

.meet {
    background-image: url(images/bonus2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin-bottom: 200px;
    text-align: center;
}

#element-center {
    padding-top: 100px;
}

#element-center h1 {
    font-weight: 900;
    color: black;
}

#element-center {
    font-weight: 700;
    color: rgb(22, 8, 219);
}

.update {

    margin-bottom: 200px;
    margin-left: 35%;
}

.update p {

    margin: 0;
    padding-left: 5%;
    padding-bottom: 20px;
}

#my {
    text-align: center;
    margin: 0;
    font-weight: 1000px;
}

#form {
    background-color: blanchedalmond;
    width: 50%;
    height: 100px;
    padding-left: 80px;
    padding-top: 50px;

}

#email {
    width: 50%;
}

#submit {
    background-image: linear-gradient(red, yellow);
    width: 10%;

}

.footer {
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer h1 {
    font-family: 'Great Vibes', cursive;
    color: red;
    margin: 0;
}

.footer h5 {
    color: antiquewhite;
    margin: 0;
}